html {
    font-size: 1.05em !important;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  
  body {
    margin-top: 50px;
  }
  
  button {
    padding: 15px 20px;
    background: none;
    outline: none;
    font-family: "Comfortaa";
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .15),
                -2px 2px 2px rgba(0, 0, 0, .15),
                4px 4px 6px rgba(0, 0, 0, .1),
                -4px 4px 6px rgba(0, 0, 0, .1),
                6px 6px 10px rgba(0, 0, 0, .05),
                -6px 6px 10px rgba(0, 0, 0, .05);
  }
  
  button:hover {
    cursor: pointer;
    box-shadow: none;
    transition-duration: .3s;
  }
  
  h3 {
    font-size: 1.5em;
    margin-top: 40px;
    margin-bottom: 15px;
  }
  
  input {
    display: block;
    font-size: 16px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #777;
    outline: none;
    width: 350px;
    background: none;
  }
  
  .submit {
    color: white;
    background: #72e272;
    font-weight: 700;
  }
  
  .default {
    background: #fafafa;
  }
  
  .delete {
    color: white;
    background: #ff5454;
    font-weight: 700;
    margin-right: 15px;
  }
  
  .notice {
    text-align: center;
    color: white;
    background: #999;
    width: 80%;
    margin: 100px auto 80px auto;
    border-radius: 50px;
    padding: 20px 50px;
    font-weight: 300;
  }
  
  .containeirs {
    display: inline-flex;
  }
  .containeir-add {
    width: 40%;
  }
  
  .containeir-map {
    width: 60%;
  }
  
  .map {
    width:500px;
    height:500px;
    border: 25px solid; /* As 4 bordas sólidas com 25px de espessura */
    border-color: #f00 #0f0 #00f #fc0; /* cores: topo, direita, inferior, esquerda */
    }
  
  #add-delivery .container,
  #edit-delivery .container,
  #delete-delivery .container {
    text-align: center;
  }
  
  #add-delivery .buttons,
  #edit-delivery .buttons {
    text-align: right;
    margin-top: 100px;
  }
  
  #delete-delivery .buttons {
    margin-top: 30px;
  }
  
  .del-notice {
    color: red;
    margin-top: 50px;
  }
  
  .buttons .submit {
    margin-right: 19px;
  }
  
  .buttons .submit,
  .buttons .default {
    padding: 4px 9px;
  }
  
  .flexContainer {
    display: flex;
  }
  
  .inputField {
    flex: 1;
  }